<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Formulaire Achat de bovin</h1>

    <!-- information du forunisseur -->
    <section class="info-fournisseur">
        <ul>
            <li th:text="${fournisseur.id}"></li>
            <li th:text="${fournisseur.nom}"></li>
            <li th:text="${fournisseur.contact}"></li>
            <li th:text="${fournisseur.adresse}"></li>
        </ul>
    </section>

    <!-- fomulaire d achat -->
    <section class="form-achat-bovin">
        <form action="/achat/bovin" method="post">
            <table border="1">
                <tr>
                    <th>Race</th>
                    <th>Poid Initial</th>
                    <th>Date de naissance</th>
                    <th>Date arrive</th>
                    <th>Prix achat</th>
                </tr>
                <tr>
                    <!-- selection du race -->
                    <td>
                        <select name="idRace">
                            <option th:each=" race : ${races}" th:value="${race.id}" th:text="${race.libelle}" >race 1</option>
                        </select>
                    </td>

                    <!-- input poid -->
                    <td>
                        <input type="number" name="poidInitial">
                    </td>

                    <!-- input date naissance -->
                    <td>
                        <input type="date" name="dateNaissance">
                    </td>

                    <!-- input date arrive -->
                    <td>
                        <input type="date" name="dateArrive">
                    </td>

                    <!-- input prix -->
                    <td>
                        <input type="number" name="prixAchat">
                    </td>
                </tr>
            </table>

            <!-- input id fournisseur -->
             <input type="hidden" name="idFournisseur" th:value="${fournisseur.id}">

            <button type="submit">Valider achat</button>
        </form>
    </section>

</body>

</html>