<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Lot</title>
</head>
<body>
    <p>Liste des lots</p>
    <div th:if="${not #lists.isEmpty(lots)}">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Race</th>
                    <th>Date de création</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="lot : ${lots}">
                    <td th:text="${lot.id}">ID</td>
                    <td th:text="${lot.race.libelle}">Race</td>
                    <td th:text="${lot.dateCreation}">Date de création</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(lots)}">
        <p>Aucun lot trouvé.</p>
    </div>
</body>
</html>